@model EnterChatWeb.Models.User
<p>
    <label asp-for="Login">Логин: </label>
    <input asp-for="Login" />
</p>
<p>
    <label asp-for="Email">Почта: </label>
    <input asp-for="Email" />
</p>
<p>
    <label asp-for="Password">Пароль: </label>
    <input asp-for="Password" />
</p>