@model EnterChatWeb.Models.Worker
<p>
    <label asp-for="FirstName">Имя: </label>
    <input asp-for="FirstName" />
</p>
<p>
    <label asp-for="SecondName">Фамилия: </label>
    <input asp-for="SecondName" />
</p>