@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterChat: Главная страница</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
    <div class="jumbotron">
        <h3 class="text-center">Добро пожаловать в сервис EnterChat!</h3>
    </div>
    <div class="container">
        <div class="center-block">
            <h2>Начало работы</h2>
            <p>Войдите в учётную запись или зарегистрируйтесь, чтобы продолжить работу.</p>
            <p><a class="btn btn-primary" asp-action="Login">Войти</a></p>
            <p><a class="btn btn-primary" asp-action="RegisterWorker">Зарегистрироваться как сотрудник</a></p>
            <p><a class="btn btn-primary" asp-action="RegisterCompany">Зарегистрировать компанию</a></p>
        </div>
        <div class="center-block">
            <h2>Исходный код</h2>
            <p>Исходные коды данного проекта доступны на GitHub.</p>
            <p><a class="btn btn-primary" href="https://github.com/EnterChat">Перейти</a></p>
        </div>
    </div>
</body>
</html>