@model EnterChatWeb.Models.Company
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Зарегистрировать компанию</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <form asp-action="RegisterCompany" method="post">
        <div asp-validation-summary="All"></div>
        <p>
            <label asp-for="Title">Название компании: </label>
            <input asp-for="Title" />
        </p>
        <p>
            <label asp-for="WorkEmail">Корпоративная почта: </label>
            <input asp-for="WorkEmail" />
        </p>
        @Html.Partial("_UserReg")
        @Html.Partial("_WorkerReg")
        <button type="submit">Зарегистрировать</button>
    </form>
</body>
</html>