@model EnterChatWeb.Models.LoginModel
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Войти в аккаунт</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <form method="post"  id="login-form" asp-controller="Account" asp-action="Login">
        <div asp-validation-summary="All"></div>

        <div class="imgcontainer">
            <img src="~/images/logo.png" alt="Avatar" class="avatar">
        </div>
        <div class="container text-center">
            <div>
                <input asp-for="Login" placeholder="Логин" />
            </div>

            <div>
                <input asp-for="Password" placeholder="Пароль" />
            </div>
            <input id="action-submit" type="submit" value="Войти" />
        </div>
    </form>
</body>
</html>