@model EnterChatWeb.Models.RegModel
@{   
     Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Зарегистрировать компанию</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <form asp-action="RegisterCompany" id="login-form" style="padding-top:25px;" asp-controller="Account" method="post">
        <div asp-validation-summary="All"></div>
        <div class="container text-center">
            <div>
                <input asp-for="Title" placeholder="Название компании" />
            </div>
            <div>
                <input asp-for="WorkEmail" placeholder="Корпоративная почта" />
            </div>

            <div>
                <input asp-for="DepTitle" placeholder="Название главного отдела(администраторы)" />
            </div>

            <div>
                <input asp-for="FirstName" placeholder="Имя" />
            </div>
            <div>
                <input asp-for="SecondName" placeholder="Фамилия" />
            </div>
            <div>
                <input asp-for="Login" placeholder="Придумайте логин" />
            </div>
            <div>
                <input asp-for="Email" placeholder="Почта" />
            </div>
            <div>
                <input asp-for="Password" placeholder="Придумайте пароль" />
            </div>
            <input id="action-submit" type="submit" value="Зарегистрировать"/>
        </div>
            
    </form>
</body>
</html>