@model EnterChatWeb.Models.WorkerRegModel
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Зарегистрироваться как сотрудник</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <form asp-action="RegisterWorker" id="login-form" style="padding-top:25px" asp-controller="Account" method="post">
        <div asp-validation-summary="All"></div>
        <div class="container text-center">
            <div>
                <input asp-for="CompanyName" placeholder="Название компании"/>
            </div>
            <div>
                <input asp-for="Login" placeholder="Придумайте логин"/>
            </div>
            <div>
                <input asp-for="Email" placeholder="Почта"/>
            </div>
            <div>
                <input asp-for="Password" placeholder="Придумайте пароль" />
            </div>
            <div>
                <input asp-for="InviteCode" type="text" placeholder="Введите ваш инвайт-код"/>
            </div>
            <input id="action-submit" type="submit" value="Зарегистрироваться" />
        </div>
    </form>
</body>
</html>