@model EnterChatWeb.Models.Company

<head>
    <title>О компании</title>
</head>
<h1 id="page-header">Информация о компании</h1>
<p>Название: @Model.Title</p>
<p>Адрес корпоративной почты: @Model.WorkEmail</p>
<p>Дата регистрации: @Model.CreationDate</p>
