@using System.Security.Claims


<head>
    <title>Аккаунт пользователя</title>
</head>
<h1> Панель управления аккаунтом пользователя</h1>

@foreach (var claim in User.Claims.ToList())
{
    <p>@claim.Type : @claim.Value</p>
}

<p><a class="btn btn-primary" asp-controller="Account" asp-action="Logout">Выйти из аккаунта</a></p>