@model EnterChatWeb.Models.ExtraModel.EditChatMemberExtraModel
@{
    Layout = null;
}

<h4>Добавление сотрудника в чат "@Model.Title"</h4>

<form asp-action="AddChatMember" method="post" asp-controller="Data">
    <div asp-validation-summary="All"></div>
    <div>
        <select asp-for="ID" class="form-control">
            @foreach (var mem in Model.WorkerChatMembers)
            {
                <option value="@mem.ID">@mem.FullName</option>
            }
        </select>
    </div>
    <input asp-for="@Model.TopicID" type="hidden" />
    <div class="form-group">
        <input type="submit" value="Добавить в чат" class="btn btn-default" />
    </div>
</form>