@model EnterChatWeb.Models.ExtraModel.WorkerPlusDepsList;
@using System.Security.Claims

@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Добавить сотрудника</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<form asp-action="AddWorker" id="login-form" method="post" asp-controller="Data">
    <div asp-validation-summary="All"></div>
    <div class="container text-center">
        <div>
            <input type="text" asp-for="FirstName" placeholder="Имя"/>
        </div>
        <div>
            <input type="text" asp-for="SecondName" placeholder="Фамилия" />
        </div>
        <div>
            <input type="text" asp-for="InviteCode" placeholder="Пригласительный код" />
        </div>
        <div>
            <select asp-for="DepartmentID" class="form-control">
                @foreach (var dep in Model.Departments)
                {
                    <option value="@dep.ID">@dep.Title</option>
                }
            </select>
        </div>
        <div>
            <input id="action-submit" type="submit" value="Добавить" />
        </div>
    </div>
</form>