@model EnterChatWeb.Models.Worker
@using System.Security.Claims

@{
    Layout = null;
}
<form asp-action="AddWorker" method="post" asp-controller="Data">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">Имя</label>
        <input type="text" asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SecondName" class="control-label">Фамилия</label>
        <input type="text" asp-for="SecondName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="InviteCode" class="control-label">Пригласительный код</label>
        <input type="text" asp-for="InviteCode" class="form-control" />
    </div>
    <div class="checkbox">
        <label asp-for="Status" class="control-label">Админ?</label>
        <input asp-for="Status" type="checkbox" value="Status" />
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-default" />
    </div>
</form>