@model EnterChatWeb.Models.ExtraModel.NotePlusCategoriesList

@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактирование заметки</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<form asp-action="EditNote" id="login-form" method="post" asp-controller="Data" asp-route-id="@Model.ID">
    <div asp-validation-summary="All"></div>
    <div class="container text-center">
        <div>
            <input type="text" asp-for="Title" placeholder="Тема"/>
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="5" asp-for="Text" placeholder="Текст заметки"></textarea>
        </div>
        <div>
            <select asp-for="NoteCategoryID" class="form-control">
                @foreach (var cat in Model.NoteCategories)
                {
                    <option value="@cat.ID">@cat.Title</option>
                }
            </select>
        </div>
        <div>
            <input id="action-submit" type="submit" value="Сохранить" />
        </div>
   </div>
</form>