@model EnterChatWeb.Models.ExtraModel.GroupMessagePlusUser

<head>
    <title>Чат компании</title>
</head>

<nav class="navbar page-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <h3>Групповой чат</h3>
        </div>
    </div>
</nav>

<div class="first-head">
    <div class="container-fluid info-card">
        <div class="container-fluid info-shit" style="padding-top: 10px;">
            <div style="height:475px;overflow-y:scroll;" id="msgs">
                @foreach (GroupChatMessage message in Model.GroupMessages)
                {
                    <p style="font-weight:bold;color: #5E35B1">@message.UserPlusWorker.FirstName 
                @message.UserPlusWorker.SecondName  <span style="font-weight:normal;color: #000000;font-size:10px">
                        @message.CreationDate</span></p>
                    <p>@message.Text</p>
                }
            </div>
        </div>
    </div>

<div class="send-field">
        <div>
            <input style="width:100%" type="text" id="MessageField"
                   placeholder="Введите сообщение здесь" />
        </div>
        <div>
            <p style="margin-top:13px; margin-left:10px">
            <a class="btn btn-primary" id="sendBtn" asp-action="">Отправить</a></p>
        </div>
</div>
</div>


@section Scripts{
    <script>

        window.onload = function () {
            var objDiv = document.getElementById("msgs");
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        $(function () {
            var userName = "testUser";

            var protocol = location.protocol === "https:" ? "wss:" : "ws:";
            var wsUri = protocol + "//" + window.location.host;
            var socket = new WebSocket(wsUri);
            socket.onopen = e => {
                console.log("socket opened", e);
            };

            socket.onclose = function (e) {
                console.log("socket closed", e);
            };

            socket.onmessage = function (e) {
                console.log(e);
                var now = new Date();
                var month = now.getMonth() + 1;
                var secs = now.getSeconds();
                var mins = now.getMinutes();
                var hours = now.getHours();
                if (month < 10) month = '0' + month;
                if (secs < 10) secs = '0' + secs;
                if (mins < 10) mins = '0' + mins;
                if (hours < 10) hours = '0' + hours;
                var stringDate = now.getUTCDate() + '.' + month + '.' + now.getFullYear() +
                    ' ' + hours + ':' + mins + ':' + secs;

                var dd = e.data.indexOf(":");
                var author = e.data.substring(0, dd);
                var message = e.data.substring(dd + 1);

                $('#msgs').append('<p style="font-weight:bold;color: #5E35B1">' + author + ' ' + 
                    '<span style="font-weight:normal;color: #000000;font-size:10px">' + stringDate  + '</span>' + 
                    '</p>' + '<p>' +
                    message + '</p>');
            };

            socket.onerror = function (e) {
                console.error(e.data);
            };

            /*$('#MessageField').keypress(function (e) {
                if (e.which != 13) {
                    return;
                }

                e.preventDefault();

                var jacksRank = $("#MessageField").data("firstname");
                var message = jacksRank + ": " + $('#MessageField').val();
                socket.send(message);
                $('#MessageField').val('');
            });*/
            document.getElementById("sendBtn").addEventListener("click", function (e) {
                e.preventDefault();
                if ($('#MessageField').val().length != 0) {
                    var topicId = 'NoN'
                    var message = topicId + '|' + $('#MessageField').val();
                    socket.send(message);
                    var objDiv = document.getElementById("msgs");
                    objDiv.scrollTop = objDiv.scrollHeight;
                    $('#MessageField').val('');

                }

            });
        });
    </script>
}