@model IEnumerable<EnterChatWeb.Models.Worker>

<head>
    <title>Сотрудники</title>
</head>

<h1>Список сотрудников</h1>

<table class="table">
    <tr><td>Имя</td><td>Фамилия</td><td>Админ?</td><td>Инвайт-код</td></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.SecondName</td>
            <td>@item.StringStatus</td>
        </tr>
    }
</table>